<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RASIMedical</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a RASIMedical </h1>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Historias Clinicas</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="inicio">
        <h2>Inicio</h2>
        <p>Bienvenidos a nuestra IPS de salud pública. Nuestra misión es proporcionar servicios de salud de alta calidad a la comunidad.</p>
    </section>

    <section id="servicios">
        <h2>Servicios</h2>
        <ul>
            <li><strong>Solicitar cita medica:</strong> Ofrecemos consultas médicas para pacientes de todas las edades.</li>
            <li><strong>:</strong> Mantenemos programas de vacunación para prevenir enfermedades.</li>
            <li><strong>Atención Preventiva:</strong> Promovemos la prevención de enfermedades a través de exámenes y consejos de salud.</li>
            <li><strong>Atención Especializada:</strong> Contamos con especialistas en diversas áreas médicas.</li>
        </ul>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>
        <p>Puede ponerse en contacto con nosotros a través de los siguientes medios:</p>
        <ul>
            <li>Teléfono: (123) 456-7890</li>
            <li>Correo Electrónico: info@ipsdesaludpublica.com</li>
            <li>Dirección: Calle Principal #123, Ciudad, País</li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2023 IPS de Salud Pública. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
