{% extends './base_template.html' %}

{% block title %}RASIMedical{% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="display-6 mb-6">RASI MEDICAL es un software médico especializado en gestionar, optimizar y simplificar procesos de atención en salud de manera integral.</h3>\
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="display-4">Beneficios de RASI MEDICAL para las IPS</h2>
                <p class="lead mt-3 mb-5">Descubre las ventajas de nuestro sistema para las Instituciones Prestadoras de Salud.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Accesibilidad</h5>
                        <p class="card-text">Consulta de información desde cualquier lugar y dispositivo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Registro Consistente</h5>
                        <p class="card-text">Registro clínico de pacientes consistente a través del sistema.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Atención de Calidad</h5>
                        <p class="card-text">Ofrecer tiempo de calidad en atenciones, optimizando comunicación.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Actualizaciones Automáticas</h5>
                        <p class="card-text">Actualizaciones automáticas del sistema.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="display-4 mb-4">Organización Funcional del Aplicativo</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <p class="lead">
                    A nivel general, el aplicativo está funcionalmente organizado en:
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Inicio de sesión para autenticación del usuario previamente registrado.</li>
                    <li class="list-group-item">Página principal con módulos del aplicativo según el rol del usuario.</li>
                    <li class="list-group-item">Módulos generales: Personas, Básicas (elementos, contratos, etc.), Recursos, Herramientas.</li>
                    <li class="list-group-item">Atención de servicio de consulta externa: Gestión de citas, disponibilidad, programación, atención, búsqueda y reprogramación.</li>
                    <li class="list-group-item">Registro de ingreso del paciente y controles por diversas áreas.</li>
                    <li class="list-group-item">Confirmación de salida del paciente, auditoría y facturación.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock %}