{% extends './base_template.html' %}

{% block title %}SignUp{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/historias.css') }}">

{% endblock %}

{% block body %}
<body>
  <h1>Historias Clínicas:</h1>
  <table class="center" id="pacientes-table">
      <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Tipo de Sangre</th>
          <th>Fecha de Nacimiento</th>
          <th>Tipo de Sangre</th>
          <th>Fecha del Examen</th>
          <th>Enfermedades</th>
          <th>Medicamentos</th>
          <th>Alergias</th>
      </tr>
      {% for paciente in json_data %}
      <tr class="popup-trigger" data-id="{{ paciente.id }}">
          <td>{{ paciente.id }}</td>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.cedula }}</td>
          <td>{{ tipo_sangre }}</td>
          <td>{{ fecha_examen }}</td>
          <td>{{ enfermedades }}</td>
          <td>{{ medicamentos }}</td>
          <td>{{ alergia }}</td>
      </tr>
      {% endfor %}
  </table>
</body>
{% endblock %}